@model Vidly.ViewModels.CustomerListViewModel
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    function passCustomerName() {
        var $CustomerURL = $('#CustomerURL');
        $CustomerURL.live('click', function () {
            // Grab customer information
            var Name = $('CustomerURL').text();

            // Edit the description
            $.ajax({
                type: "GET",
                url: "Customers/Details",
                contentType: "application/json; charset=utf-8",
                data: { name: Name },
                dataType: "json",
                success: function (result) {
                    alert('It worked!');
                },
                error: function (result) {
                    alert('It did not work.')
                }
            })
        })
    }
</script>

<h2>Customers</h2>
@if (Model.Customers.Count == 0)
{
    <p>We don't have any customers yet.</p>
}
else
{
    <table id="lumen-override">
        <thead>
            <tr>
                <th>Customer</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model.Customers)
            {
                <tr>
                    <td>
                        @Html.ActionLink(customer.Name, "Details", "Customers", new { id = @customer.Id }, new { onclick = "passCustomerName();" })

                        @*<a id="CustomerURL" href="Customers/Details/@customer.Id" onclick="passCustomerName();">@customer.Name</a>*@

                        @*<a href="@Url.Action("Details", "Customers", new { id = @customer.Id, name = customer.Name })">
                        @customer.Name
                        </a>*@

                        @*<a href="Customers/Details/@customer.Id?name=@customer.Name">@customer.Name</a>*@

                        @*<a href="Details/@customer.Id" onclick="@{ ViewData["name"] = @customer.Name; }">@customer.Name</a>*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
}